@font-face {
  font-family: dosis;
  src: url("../public/dosis.ttf");
}

body {
  /* background-image: url("../public/images/background.jpg"); */
  background-color: #220b59;
  background-image: linear-gradient(180deg, #352732 0%, #0f0636 50%, #4f2903 100%);
  font-family: dosis;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}